@import url(https://fonts.bunny.net/css?family=jost:300,400,600);

* {
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}
