@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "RubikScribble";
  src:
    local("RubikScribble-Regular"),
    url("./assets/fonts/RubikScribble-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Satoshi";
  src:
    local("Satoshi-Regular"),
    url("./assets/fonts/satoshi-regular-webfont.woff2") format("woff2");
}

h1 {
  font-family: "Satoshi";
  font-size: 40px;
}

body {
  font-family: "Satoshi";
}
